body{
    text-align: center;
}
.fondo {
    background: linear-gradient(to right, rgb(8, 2, 12) , rgb(49, 2, 61));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.titulo {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}
ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
} 
.imagen1 {
    display: block;
    margin: 20px auto; 
    width: 200px;
    height: auto;
}
.titulosecundario,
.titulosecundario1 {
    text-align: center
}
.parrafo1,
.parrafo2 {
    text-align: center;
    margin: auto;
    width: 90%;
}
.botonesul {
    padding: 10px 15px;
    margin: 10px;
    border: 2px solid white; 
    border-radius: 10px;
    background-color: rgb(49, 10, 61);
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
button:hover {
    background-color: rgb(8, 2, 12);
    transform: scale(1.1);
}

button a {
    text-decoration: none;
    color: white;
}
.botones2 {
    background-color: transparent;
}
.imagenes{
    width: 30%;
    max-width: 200px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10%;
    margin: 2%;
}
.contacto{
    text-align: right;
    margin: 10px;
}